<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap" rel="stylesheet">  <!-- Google Fonts -->
    <link rel="icon" type="image/x-icon" href="/img/logo-negro-solo-G-03.png">
    <script src="https://kit.fontawesome.com/21c548f2ca.js" crossorigin="anonymous"></script>
    <title>Galpon de White</title>
</head>
<body>
    <header>
        <div class="topnav" id="myTopnav">
            <a href="#home" class="active">Inicio</a>
            <a href="#contact">Contacto</a>
            <a href="#menu">Carta</a>
            <a href="#about">Nosotros</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>
    <div class="logo-negro">
        <img src="/img/logo-negro-02.png" alt="Logo Galpon de White">
    </div>
    <div class="text-about">
        <h3>Nosotros</h3>
            <p class="text-about-content">Abre sus puertas en Septiembre de 2017 en la localidad de Munro, partido de Vicente López.</p>
            <p class="text-about-content">La principal idea era establecerse en un punto estratégico ya que en la zona no había muchas opciones gastronómicas que cubrieran todo el espectro.</p>
            <p class="text-about-content">Con una muy buena respuesta en los primeros meses, se empezó a llenar, por lo que el dueño decidió aventurarse y comenzar a abrir por la noche. Luego de varias noches que se hacían eternas por la poca concuerrencia, empezó a generarse lo que pretendía. Los vecinos de la zona empezaban a acercarse, a conocer la propuesta y el ambiente, logrando a través del boca en boca y mucho esfuerzo de su dueño (cocinando, atendiendo y sirviendo tragos) un público que se acercaba todas las noches, en especial los fines de semana a compartir momentos con sus allegados.</p>            
            <p class="text-about-content">Es así que el Galpón hoy en día reúne una gran variedad de públicos, grupos de amig@s, parejas, compañeros de trabajo, familias enteras, niñ@s, etc.</p>        
            <p class="text-about-content">Platos elaborados, hamburguesas, ensaladas y wraps, opciones para picar, tragos de autor, cerveza tirada, hacen del Galpón un lugar con una propuesta actual y cumplidora. Ideal para acercarse a celebrar con amig@s y familia.</p>
            <p class="text-about-content">Atendido por su dueño y familia, siempre con la mejor predisposición para brindarle todo a quienes quieran pasar buenos momentos.</p>
    </div>
</body>
</html>