:root {
  --color-one: #0a0908ff;
  --color-two: #22333bff;
  --color-three: #657ed4ff;
  --color-fourth: #28afb0ff;
  --color-fifth: #eae0d5ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
  background-color: var(--color-fifth);
}

.header{
  display: flex;
  background-color: var(--color-one);
}

a {
  text-decoration: none;
}

.header a{
  color: white;
}